.rightFighterFlip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#loginCharacterDiv{
  visibility: visible;
  /* background: aqua; */

 background-color: rgb(0, 68, 131);
 /* background-blend-mode: luminosity; */
 /* background-size: 100 */
}


.combined {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      2px  2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
}

.DuncanIdaho {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  position: relative;
  /* added this part */
  visibility: hidden;
}

.DuncanIdaho.attacking{
  position: relative;
  -webkit-animation-name: attack;
  -webkit-animation-duration: 800ms;
  animation-name: attack;
  animation-duration: 800;
  visibility: visible;
 }
@-webkit-keyframes attack {
  0%   { left: 0px;;}

  50%  { left: 190%;}

  100% { left: 0%;}
}

.Grunt {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  position: relative;
}

.Grunt.attacking{
  position: relative;
  -webkit-animation-name: attackGrunt;
  -webkit-animation-duration: 800ms;
  animation-name: attackGrunt;
  animation-duration: 800;
 }

 .Elite {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  position: relative;
}

.Elite.attacking{
  position: relative;
  -webkit-animation-name: attackGrunt;
  -webkit-animation-duration: 800ms;
  animation-name: attackGrunt;
  animation-duration: 800;
}

.Beast {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  position: relative;
}

.Beast.attacking{
  position: relative;
  -webkit-animation-name: attackGrunt;
  -webkit-animation-duration: 800ms;
  animation-name: attackGrunt;
  animation-duration: 800;
 }

@-webkit-keyframes attackGrunt {
  0% { right: 0px;;}
  50% {right: 190%;}
  100% {right: 0%;}
}
.Battery01{
max-width: 30px;
float: right
}

.Battery01.Removed{
  visibility: hidden;
}

.sardaukarElite{
  float:right
}

.DuncanDiv.attack {
  border: 1px solid red;
}
.DuncanDiv.default {
  border: 1px solid blue;
}

.enemyHolder{
  float: right
}


/*Beast Harkonnen transition*/
#beastHarkonnen {
  /* width: 100px;
  height: 50px;
  background-color: red;
  font-weight: bold; */
  position: relative;
  float:right;
  -webkit-animation: mymove 10s ; /* Safari 4.0 - 8.0 */
  animation: mymove 10s ;
}
/* #div1 {-webkit-animation-timing-function: linear;} */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {right: -1000px; bottom:-200px;}
  to {right: -50px; top:-2000px;}
}

/* Standard syntax */
@keyframes mymove {
  from {right:-1000px; bottom:-200px;}
  to {right: -100px; bottom:-20px;}
}
 
p {
  background-blend-mode: color-burn;
  font   : 2.5em sans-serif;
  margin-top : 0%;
  margin-left:10%;
  padding: .5em;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      2px  2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
     -1px  1px 0 #000,
      1px  1px 0 #000;
  border-width: 100;
  border-color: black;
  /* stroke-width: 100; */
  position: relative;
  z-index: 10; 
  box-shadow: 200,

}

.modal-body{
  color:red
}


.ArrowUp{
  margin-bottom: -20%;
margin-left:30%
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}
.DuncanDiv {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

#lightningOrange{
  border-radius: 50%;
}



.pulsing{
  /* position: relative; */
  -webkit-animation-name: attack;
  -webkit-animation-duration: 800ms;
  animation-name: attack;
  animation-duration: 800;
  transform: translateX(115%);
  transform: scaleX(-1);

}    
    
.fireNotExploding{
  visibility: hidden;
}

.poweredNotUp {
  visibility: hidden;
}
.notPulsedGrunt {
  visibility: hidden;
}
.notPierce{
  visibility: hidden;
}
.archerNot {
  visibility: hidden;
}
    .introMovie{
      margin-top:-5%;
      margin-left:3%;
      max-height: 80%;
      -moz-animation: cssAnimation 0s ease-in 35s forwards;
      /* Firefox */
      -webkit-animation: cssAnimation 0s ease-in 35s forwards;
      /* Safari and Chrome */
      -o-animation: cssAnimation 0s ease-in 35s forwards;
      /* Opera */
      animation: cssAnimation 0s ease-in 35s forwards;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  }
  @keyframes cssAnimation {
      to {
          width:0;
          height:0;
          overflow:hidden;
      }
  }
  @-webkit-keyframes cssAnimation {
      to {
          width:0;
          height:0;
          visibility:hidden;
      }
  }

  .modal.p{
    z-index: 1;
    position: relative;
    /* margin-top: -200; */
    font-family: 'Courier New', Courier, monospace;
  }