p{
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    2px  2px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.A {
    background-image: url("./img/background_battleScreen.jpg");

}

.B {
    background-image: url("./img/mapPlay_End.jpg");
}

.C {
    background-image: url("./img/mapPlay_Straight.jpg");
}

.D {
    background-image: url("./img/mapPlay_Straight.jpg");

}

.E {
    background-image: url("./img/mapPlay_LeftStraightRight.jpg");

}

.Game {
    background-image: url("./img/background_battleScreen.jpg");
}